<div class="app">
  <mat-toolbar
    *ngIf="(_auth.user$ | async)?.role"
    color="primary"
    class="mat-elevation-z1"
  >
    <div class="d-flex align-items-center pointer" routerLink="">
      <mat-icon>shopping_cart</mat-icon>
      <span class="logo mx-2">Store</span>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="logout" (click)="_auth.logout()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container g-0 py-4 content">
    <div class="row g-0">
      <div class="col-11 col-md-12 mx-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div class="loaderContainer" *ngIf="_loader._visible | async">
    <div class="loader"></div>
  </div>
</div>
